@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");

$enable-rounded: false;
$body-color: #00022e;
$primary: #02066f;
$danger: #ff073a;

$input-color: $body-color;
$input-border-color: #02066f;

@import "~bootstrap/scss/bootstrap";

// @import "burger";
@import "navigation";

body {
  font-family: "Space Mono", monospace;
  overflow-x: hidden;
}

#logo {
  color: $body-color;
  margin-top: 20px;
  line-height: 26px;
  &:hover {
    text-decoration: none;
  }
  @include media-breakpoint-up(sm) {
    margin-top: 40px;
    margin-left: 40px;
  }
  /*@include media-breakpoint-up(sm) {
    color: #fff;
  }*/
}

#diagonal {
  width: 100%;
  height: 200%;
  top: auto;
  bottom: 0;
  left: -90%;
  position: absolute;
  background: $body-color;
  transform: matrix(1, 0, -1.75, 1, -550, 550);
  z-index: -1;
}

.card.boxed {
  border: 4px solid $body-color;
}

#hero {
  margin-top: 100px;

  form {
    margin-top: 40px;
  }
}

#results {
  margin-top: 80px;
}

#currency-rates {
  margin-top: 100px;
  table {
    tbody {
      td {
        width: 50%;
      }
    }
  }
}

#geolocation {
  margin-top: 100px;
}

#documentation > div {
  @include media-breakpoint-up(sm) {
    padding-right: 40px;
  }
}
