svg {
  height: 100px;
  width: 100px;
  position: absolute;
}
.plate {
  height: 100px;
  width: 100px;
  z-index: 100;
  .line {
    fill: none;
    stroke: $body-color;
    stroke-width: 3.5px;
    transform-origin: 50%;
    transition: stroke 0.5s linear, stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
  }
  .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
  }
  .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
  }
  .x {
    transform: scale(0);
    transition: transform 400ms;
    .line {
      stroke-width: 4px;
    }
  }

  /* Active */
  &.active {
    .line {
      stroke: $red;
      transition: stroke 0.5s linear, stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
    }
    .line1 {
      transform: scale(0, 1);
      transition: transform 500ms 100ms;
    }
    .line2 {
      stroke-dasharray: 5px 200;
      stroke-dashoffset: -164px;
    }
    .line3 {
      stroke-dasharray: 5px 179;
      stroke-dashoffset: -142px;
    }
    .x {
      transform: scale(1);
      transition: transform 400ms 350ms;
    }
  }
}
