apscheduler
babel
coverage
django
django-cors-headers
django-environ
django-ninja
dpath
gunicorn
httpx<0.28
logfire[asgi,celery,django,httpx,psycopg]
lxml
pendulum
pycountry
pydantic
schwifty
sentry-sdk[django]
ujson
uvicorn
zeep
